[submodule "schema/meta/DATA_SOURCE"]
	path = schema/meta/DATA_SOURCE
	url = https://gist.github.com/nxlogics/157cfcf13756b56d8e37081590a5d425
[submodule "modules/ExchangeRatesAPIWrapper"]
	path = modules/ExchangeRatesAPIWrapper
	url = https://gist.github.com/nxlogics/0f5ada88a55cc316ffd542b8651626f9.git
[submodule "schema/apps/lumos"]
	path = schema/apps/lumos
	url = https://github.com/neuralNOD/lumos.git
